<h3>
	The selected ticket was already bought by someone else. Please choose another ticket. 
</h3>
<form action = "/closeticket?_method=PUT" method = "POST" required>
	<input type="text" name="tickets[seatNo]" placeholder="Seat No" required>
	<input type="text" name="tickets[name]" placeholder="Name" required>
	<input type="text" name="tickets[mobileNo]" placeholder="Mobile Number" required>
	<input type="submit">
	
	
	
</form>
