<h1>
	
	Handle Ticketing for 
</h1>

<h3>
	Please enter the following commands to test the app
</h3>



<h4>
	View Routes
</h4>

<li>/viewall - To view all the tickets.</li>
<li>/viewall/open - To view all the open tickets.</li>
<li>/viewall/close - To view all the closed tickets.</li>
<li>/viewstatus/:seatNo - To view the status of the entered seat number in the url. </li>
<li>/viewdetails/:seatNo - To view the details of the person owning the seat entered in the url. </li>





<h4>
	Update Routes
</h4>

<li>/update/close - To close a specific ticket by entering the details </li>
<li>/update/open - To open a specific ticket </li>


<h4>
	Reset Route
</h4>

<li>/reset - To reset all the tickets.</li>